.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbarlogo {
    height: 50px;
    margin-right: 1rem;
  }
  
  .navbarlinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .navbarlink {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
  }
  
  .navbarlink:hover {
    background-color: #f1f1f1;
  }