.body {
    background-image: url('../Image/Home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    text-align: center;
  }

  .h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }